body {
    margin: 0;
}

/*The next four selectors targeted are for the top of the hero banner.*/
.menu-container {
    display: flex;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 100px;
    background-color: #1F2937;
}

.menu {
    display: flex;
    justify-content: space-between;
    width: 1000px;
}

.menu-left {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bolder;
}

.menu-right {
    font-size: 18px;
    color: #F9FAF8;
    display: flex;
    gap: 16px;
}


/*The following selectors targeted are for the bottom of the hero banner.*/
.header-container {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    padding-bottom: 100px;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 1000px;
}

.header-left {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.header-button {
    text-align: center;
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bolder;
    border-radius: 8px;
    padding: 7px 24px;
    width: 115px;
    border: none;
}

.header-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 200px;
    background-color: gray;
    font-size: 18px;
    color: #F9FAF8;
    border: 4px solid gray;
}

.header-main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.header-secondary-text {
    font-size: 18px;
    color: #F9FAF8;
}

/*The following selectors are for all the images and subtext underneath the banner.*/
.info-title {
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
    padding: 30px 0px;

}

.photo-grid-container {
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.info {
    max-width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
}

.box {
    width: 150px;
    height: 150px;
    padding-bottom: 20px;
}

.squirrel-img {
    border: 4px solid gray;
    border-radius: 16px;
}

.dog-img {
    border: 4px solid gray;
    border-radius: 16px;
}

.bird-img {
    border: 4px solid gray;
    border-radius: 16px;
}

.cat-img {
    border: 4px solid gray;
    border-radius: 16px;
}

/*The following selectors targeted are for the quote.*/
.quote-container {
    display: flex;
    justify-content: center;
    background-color: #E5E7EB;
    padding-top: 100px;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    width: 750px;
    color: #585760;
}

.container {
    display: flex;
    justify-content: center;
    background-color: #E5E7EB;
    padding-bottom: 100px;
}

.thor {
    font-weight: bolder;
    width: 750px;
    text-align: end;
    font-size: 24px;
}

/*The following selectors are for the call to action.*/
.sign-up-container {
    display: flex;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
}

.sign-up {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1000px;
    height: 100px;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 8px;
}

.sign-up-title {
    font-size: 18px;
    font-weight: bolder;
}

.sign-up-button {
    border: 2px solid #F9FAF8;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 6px;
    text-align: center;
    width: 80px;
    height: 25px;
}

/*Last selector is for the bottom of the webpage*/
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #F9FAF8;
    height: 70px;
}